@import 'utilities/index';
@import 'base/index';
@import 'components/index';

* {
  font-family: $stack-sans-serif;
  color: $color-text-primary;
}


// Base style
a {
  color: $malibu;
  text-decoration: none;
}

// Navigation
.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item a {
  color: $color-text-primary;
  display: inline-block;
  padding: 10px;
}

.nav__item a:hover {
  color: white;
  background-color: $viking;
  border-radius: 5px;
}

// Fonts
.headline--primary {
  color: $viking;
}

// Buttons

.btn--default {
  border-style: none;
  background-color: #51DDFC;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
}

.btn--success {
  border-style: none;
  background-color: #63CC82;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
}

.btn--info {
  border-style: none;
  background-color: #927BC1;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
}

.btn--error {
  border-style: none;
  background-color: #E4757A;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
}

.btn--warning {
  border-style: none;
  background-color: #FD7856;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
}

// Images
.img--frame {
  padding: 10px;
  border: solid 1px #A1A1A1;
}
