@import 'utilities/index';
@import 'base/index';
@import 'components/index';

// Link
.link {
  font-weight: bold;
  color: $malibu;
}

.link:hover {
  color: darken($malibu, 15%);
}

// Navigation
.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;

  @media #{$brk-narrow} {
    flex-direction: column;
  }
}

.nav__item {
  margin: 0 10px;
  &:first-child {
    margin: 0;
  }

  &:last-child {
    margin: 0;
  }

  @media #{$brk-narrow} {
    margin: 0
  }
}

.nav__item a {
  color: $color-text-primary;
  display: inline-block;
  padding: 10px;
  text-align: center;

  @media #{$brk-narrow} {
    width: 100%;
    padding: 15px 10px;
  }
}

.nav__item a:hover {
  color: white;
  background-color: $viking;
  border-radius: 5px;
}

// Fonts
.headline--primary {
  color: $viking;
}

// Buttons - Style specifc to this UI Kit
// I wonder how the people at team treehouse did this
#buttons + .grid__row {
  .grid__col--12 {
    display: flex;
    justify-content: space-between;

    @media #{$brk-narrow} {
      flex-direction:column;
      justify-content: none;
    }
  }
}

// Forms
.form {

  * {
    margin-bottom: 1em;
  }

  // this should be valid for all types of buttons
  .btn--default {
    width: 100%;
  }
}

.form__input {
  border-bottom: solid 5px $viking;
  padding: 0 15px 10px 0;
  width: 100%;
  margin-bottom: 1.5em;
}

.form__label--hidden {
  display: none;
}


// blockquote

.blockquote {
  border-left: solid 6px $viking;
  padding: 0 1.5em;
  font-size: 1.75em;
  font-style: italic;

  @media #{$brk-narrow} {
    padding: 0 0 0 1.0em;
  }
}
