@import 'utilities/index';
@import 'base/index';
@import 'components/index';

* {
  font-family: $stack-sans-serif;
  color: $color-text-primary;
  box-sizing: border-box;
}


// Base style
a {
  text-decoration: none;
}

input {
  border: none;
  font-weight: bold;
  color: darken($silver-chalice, 15%);
}

nav[role="navigation"] {
  padding: 20.5px 0;
}

// Grid

.grid__row {
  margin-bottom: 50px;
  display: flex;
}

.grid__col--12 {
  padding: 10px 10px;
  border-radius: 5px;
  width: 100%;

  &.centered {
    margin: 0 auto !important;
  }
}

.grid__col--12.theme__colors {
  background-color: $viking;
}

.grid__col--9 {
  padding: 10px 10px;
  border-radius: 5px;
  width: 75%;
  margin: 0 10px;

  &.centered {
    margin: 0 auto !important;
  }
}

.grid__col--9:first-child {
  margin-left: 0;
}

.grid__col--9:last-child {
  margin-right: 0;
}

.grid__col--8 {
  padding: 10px 10px;
  border-radius: 5px;
  width: 66.666666%;
  margin: 0 10px;

  &.centered {
    margin: 0 auto !important;
  }
}

.grid__col--8:first-child {
  margin-left: 0;
}

.grid__col--8:last-child {
  margin-right: 0;
}

.grid__col--8.theme__colors {
  background-color: $coral;
}

.grid__col--7 {
  padding: 10px 10px;
  border-radius: 5px;
  width: 58.333333%;
  margin: 0 10px;

  &.centered {
    margin: 0 auto !important;
  }
}

.grid__col--7:first-child {
  margin-left: 0;
}

.grid__col--7:last-child {
  margin-right: 0;
}

.grid__col--7.theme__colors {
  background-color: lighten($sunglo, 10%);
}

.grid__col--6 {
  padding: 10px 10px;
  border-radius: 5px;
  width: 50%;
  margin: 0 10px;

  &.centered {
    margin: 0 auto !important;
  }
}

.grid__col--6:first-child {
  margin-left: 0;
}

.grid__col--6:last-child {
  margin-right: 0;
}

.grid__col--6.theme__colors {
  background-color: darken($malibu, 25%);
}

.grid__col--5 {
  padding: 10px 10px;
  border-radius: 5px;
  width: 41.66666666%;
  margin: 0 10px;

  &.centered {
    margin: 0 auto !important;
  }
}

.grid__col--5:first-child {
  margin-left: 0;
}

.grid__col--5:last-child {
  margin-right: 0;
}

.grid__col--5.theme__colors {
  background-color: $emerald;
}

.grid__col--4 {
  padding: 10px 10px;
  border-radius: 5px;
  width: 33.3333333%;
  margin: 0 10px;

  &.centered {
    margin: 0 auto !important;
  }
}

.grid__col--4:first-child {
  margin-left: 0;
}

.grid__col--4:last-child {
  margin-right: 0;
}

.grid__col--4.theme__colors {
  background-color: $malibu;
}

.grid__col--3 {
  padding: 10px 10px;
  border-radius: 5px;
  width: 40%;
  margin: 0 10px;

  &.centered {
    margin: 0 auto !important;
  }
}

.grid__col--3:first-child {
  margin-left: 0;
}

.grid__col--3:last-child {
  margin-right: 0;
}

.grid__col--3.theme__colors {
  background-color: lighten($purple-mountain-majesty, 15%);
}

// Link
.link {
  font-weight: bold;
  color: $malibu;
}

.link:hover {
  color: darken($malibu, 15%);
}

// Navigation
.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.nav__item {
  margin: 0 10px;
  &:first-child {
    margin: 0;
  }

  &:last-child {
    margin: 0;
  }
}

.nav__item a {
  color: $color-text-primary;
  display: inline-block;
  padding: 10px;
}

.nav__item a:hover {
  color: white;
  background-color: $viking;
  border-radius: 5px;
}

// Fonts
.headline--primary {
  color: $viking;
}

// Buttons

.btn--default {
  border-style: none;
  background-color: $malibu;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($malibu, 15%);
  }
}

.btn--success {
  border-style: none;
  background-color: #63CC82;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($emerald, 15%);
  }
}

.btn--info {
  border-style: none;
  background-color: $purple-mountain-majesty;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($purple-mountain-majesty, 15%);
  }
}

.btn--error {
  border-style: none;
  background-color: $sunglo;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($sunglo, 15%);
  }
}

.btn--warning {
  border-style: none;
  background-color: $coral;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($coral, 15%);
  }
}

// Buttons - Style specifc to this UI Kit

#buttons ~ .grid__row {
  .grid__col--12 {
    display: flex;
    justify-content: space-between;
  }
}

// Images
.img--frame {
  padding: 10px;
  border: solid 1px #A1A1A1;
  display: block;
  margin: 0 auto;
}

.img--avatar {
  display: block;
  margin: 0 auto;
}

// Forms
.form {

  * {
    margin-bottom: 1em;
  }

  // this should be valid for all types of buttons
  .btn--default {
    width: 100%;
  }
}

.form__input {
  border-bottom: solid 5px $viking;
  padding: 0 15px 10px 0;
  width: 100%;
  margin-bottom: 1.5em;
}

.form__label--hidden {
  display: none;
}


// blockquote

.blockquote {
  border-left: solid 6px $viking;
  padding: 0 1.5em;
  font-size: 1.75em;
  font-style: italic;
}
