@mixin buttons($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      border-style: none;
      background-color: $color;
      color: white;
      padding: 10px 50px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: darken($color, 15%);
      }

      @media #{$brk-narrow} {
        margin-bottom: 20px;
      }
    }
  }
}

@mixin col-props {
  &.centered {
    margin: 0 auto !important;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @media #{$brk-narrow} {
    margin: 0;
    width: 100%;
  }
}
