@mixin buttons($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      border-style: none;
      background-color: $color;
      color: white;
      padding: 10px 50px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: darken($color, 15%);
      }

      @media #{$brk-narrow} {
        margin-bottom: 20px;
      }
    }
  }
}
