
// Descriptive Colors
$emerald: #63CC82;
$sunglo: #E4757A;
$coral: #FD7856;
$purple-mountain-majesty: #927BC1;
$malibu: #51DDFC;
$viking: #58E1C1;
$silver-chalice: #757575;

// UI theme
$ui-theme: (
  default: $malibu,
  info: $purple-mountain-majesty,
  warning: $coral,
  error: $sunglo,
  success: $emerald
);

// $palette: (
//   default: (
//     xx-light: lighten(map-get($ui-theme, "default"), 25%),
//     x-light: lighten(map-get($ui-theme, "default"), 10%),
//     basic: lighten(map-get($ui-theme, "default"), 0%),
//     x-dark: darken(map-get($ui-theme, "default"), 10%),
//     xx-dark: darken(map-get($ui-theme, "default"), 25%)
//   ),
//   info: (
//     xx-light: lighten(map-get($ui-theme, "info"), 25%),
//     x-light: lighten(map-get($ui-theme, "info"), 10%),
//     basic: lighten(map-get($ui-theme, "info"), 0%),
//     x-dark: darken(map-get($ui-theme, "info"), 10%),
//     xx-dark: darken(map-get($ui-theme, "info"), 25%)
//   ),
//   warning: (
//     xx-light: lighten(map-get($ui-theme, "warning"), 25%),
//     x-light: lighten(map-get($ui-theme, "warning"), 10%),
//     basic: lighten(map-get($ui-theme, "warning"), 0%),
//     x-dark: darken(map-get($ui-theme, "warning"), 10%),
//     xx-dark: darken(map-get($ui-theme, "warning"), 25%)
//   ),
//   error: (
//     xx-light: lighten(map-get($ui-theme, "error"), 25%),
//     x-light: lighten(map-get($ui-theme, "error"), 10%),
//     basic: lighten(map-get($ui-theme, "error"), 0%),
//     x-dark: darken(map-get($ui-theme, "error"), 10%),
//     xx-dark: darken(map-get($ui-theme, "error"), 25%)
//   ),
//   success: (
//     xx-light: lighten(map-get($ui-theme, "sucess"), 25%),
//     x-light: lighten(map-get($ui-theme, "sucess"), 10%),
//     basic: lighten(map-get($ui-theme, "sucess"), 0%),
//     x-dark: darken(map-get($ui-theme, "sucess"), 10%),
//     xx-dark: darken(map-get($ui-theme, "sucess"), 25%)
//   )
// );

// Texts

$color-text-primary: $silver-chalice;

// Font Stacks
$stack-sans-serif: Helvetica, Arial, sans-serif;

//Media Queries
$brk-mobile: '(max-width: 454px)';
$brk-narrow: '(max-width: 768px)';
$brk-wide: '(max-width: 1400px)';

// Grids
$g-col-width: 15px;
$g-gutter-width: 20px;
$g-col-count: 12;
