// Buttons

.btn--default {
  border-style: none;
  background-color: $malibu;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($malibu, 15%);
  }

  @media #{$brk-narrow} {
    margin-bottom: 20px;
  }
}

.btn--success {
  border-style: none;
  background-color: #63CC82;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($emerald, 15%);
  }

  @media #{$brk-narrow} {
    margin-bottom: 20px;
  }
}

.btn--info {
  border-style: none;
  background-color: $purple-mountain-majesty;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($purple-mountain-majesty, 15%);
  }

  @media #{$brk-narrow} {
    margin-bottom: 20px;
  }
}

.btn--error {
  border-style: none;
  background-color: $sunglo;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($sunglo, 15%);
  }

  @media #{$brk-narrow} {
    margin-bottom: 20px;
  }
}

.btn--warning {
  border-style: none;
  background-color: $coral;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($coral, 15%);
  }

  @media #{$brk-narrow} {
    margin-bottom: 20px;
  }
}

// Buttons - Style specifc to this UI Kit
// I wonder how the people at team treehouse did this
#buttons + .grid__row {
  .grid__col--12 {
    display: flex;
    justify-content: space-between;

    @media #{$brk-narrow} {
      flex-direction:column;
      justify-content: none;
    }
  }
}
