// Buttons

.btn {
  @include buttons($ui-theme);
}

// Buttons - Style specifc to this UI Kit
// I wonder how the people at team treehouse did this
#buttons + .grid__row {
  .grid__col--12 {
    display: flex;
    justify-content: space-between;

    @media #{$brk-narrow} {
      flex-direction:column;
      justify-content: none;
    }
  }
}
