// Grid

.grid__row {
  margin-bottom: 50px;
  display: flex;

  @media #{$brk-narrow} {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

@for $i from 1 through $g-col-count {
    $target: ($g-col-width * $i);
    $context: g-context($g-col-width, $g-col-count);

    .grid__col--#{$i} {
      padding: 10px 10px;
      border-radius: 5px;
      width: percentage($target /$context);
      margin: 0 ($g-gutter-width/2);

      @include col-props;
    }
}

.grid__col--12 {
  &.theme__colors {
    background-color: $viking;
    text-align: center;
  }
}

.grid__col--9 {
  &.centered {
    margin: 0 auto !important;
  }
}

.grid__col--8 {
  &.theme__colors {
    background-color: $coral;
    text-align: center;
  }
}

.grid__col--7 {
  &.theme__colors {
    background-color: lighten($sunglo, 10%);
    text-align: center;
  }
}

.grid__col--6 {
  &.theme__colors {
    background-color: darken($malibu, 25%);
    text-align: center;
  }
}

.grid__col--5 {
  &.theme__colors {
    background-color: $emerald;
    text-align: center;
  }
}

.grid__col--4 {
  &.theme__colors {
    background-color: $malibu;
    text-align: center;
  }
}

.grid__col--3 {
  &.theme__colors {
    background-color: lighten($purple-mountain-majesty, 15%);
    text-align: center;
  }
}
